<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <%- include('../includes/head.ejs') %> 
</head>
<body class="rtl">
   <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">خطا!</span>مشکلی در سمت سرور رخ داده است.</p>
        <p class="lead">
لطفا دوباره تلاش کنید.
          </p>
        <a href="/" class="btn btn-primary">برو به صفحه اصلی</a>
    </div>
</div>
</body>
</html>