<form class="form-signin text-center" action="/forget-password" method="post">
    <img class="mb-4" src="/img/blogger.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">فراموشی رمز عبور</h1>
    <%- include('../includes/userMessages.ejs') %> 
    <label for="inputEmail" class="sr-only">ایمیل</label>
    <input
      type="email"
      id="inputEmail"
      name="email"
      class="form-control mb-2"
      placeholder="ایمیل"
      required
      autofocus
    /> 
    <div class="g-recaptcha mb-3" data-sitekey="6LeqpqkjAAAAAG_VvMDHr_kIdEK8kR0DcNUImDPy"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">بازیابی رمز عبور</button>
  </form>
  