<form class="form-signin text-center" action="/reset-password/<%= userId %> " method="post">
    <img class="mb-4" src="/img/blogger.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">ریست رمز عبور</h1>
    <%- include('../includes/userMessages.ejs') %> 
    
    <label for="inputPassword" class="sr-only">رمز عبور</label>
    <input
      type="password"
      id="inputPassword"
      name="password"
      aria-describedby="passwordErr"
      class="form-control mb-2"
      placeholder="رمز عبور"
      required
    />
    <small id="passwordErr" class="form-text text-danger text-left"><%= errors.find(e=>e.name == 'password')  ? errors.find(e=>e.name == 'password').message : '' %> </small>

    <label for="inputRePassword" class="sr-only">تکرار رمز عبور</label>
    <input
      type="password"
      id="inputRePassword"
      name="repassword"
      aria-describedby="repasswordErr"
      class="form-control mb-2"
      placeholder="تکرار رمز عبور"
      required
    />
    <small id="repasswordErr" class="form-text text-danger text-left"><%= errors.find(e=>e.name == 'repassword')  ? errors.find(e=>e.name == 'repassword').message : '' %> </small>
    <button class="btn btn-lg btn-primary btn-block" type="submit">تغییر رمز عبور</button>
  </form>
  